
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
fieldset {
  width: calc(100% - 4px);
  margin: 2px;
  border: 2px groove threedface;
  padding: 5px 12px 10px;
  box-sizing: border-box;
}
fieldset + fieldset {
  margin-top: -4px;
}
section {
  width: 100%;
  margin-top: 1.333em;
}
details, summary {
  width: 100%;
}


h4 {
  margin-block-end: 5px;
}

pre,
code {
  /*margin: 10px;*/
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
  white-space: pre-wrap;
}

input[type="text"] {
  font-size: 10px;
}
textarea {
  width: 100%;
  font-size: 10px;
}
button {
  height: 44px;
}

/*
 */

fieldset > code,
fieldset > textarea,
fieldset > input {
  width: calc(100% - 8px);
  /*font-size: 80%;*/
  color: #333;
}

.input-row {
  margin-top: 10px;
}

/*
 * input-section
 */

.input-section details {
  margin-bottom: 10px;
}
.input-section fieldset label {
  display: inline-block;
  width: 30px;
}
.input-section fieldset input {
  width: calc(100% - 8px - 40px);
}

/*
 * code-section
 */
code.code-prefix {
  display: inline-block;
  width: 100px;
  font-size: 10px;
  text-align: right;
  vertical-align: top;
}
fieldset.code-fieldset > textarea[name="code"] {
  width: calc(100% - 8px - 110px);
  vertical-align: top;
  font-size: 10px;
}
.code-section .bottom-buttons {
  margin-top: 10px;
  text-align: right;
}

/*
 * output-section
 */

.output-fieldset a.output-anchor {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.output-fieldset textarea {
  white-space: pre-wrap;
  overflow: auto;
}
.output-section a.output-anchor {
  display: block;
}

